@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.fade-container {
  position: relative;
}

.fade-container::before,
.fade-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 20%;
  pointer-events: none;
}

.fade-container::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 80%);
}

.fade-container::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 80%);
}

/* Apply a gradient mask */
.mask-gradient {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 50%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 80%);
  -webkit-mask-size: 100%;
  mask-size: 100%;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
